.carrusel-inner {
    height: 500px;
}

.carousel-item img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 30%;
}
.carousel-caption {
    margin-right: auto;
    margin-left: auto;    
    margin-top: 30px;
    width: 35%;
    background-color:rgba(255,255,255.255,0.5);
    position: relative;
    color: seashell;
    left: 0 !important;
    right: 0 !important;
    height: 150px !important;
}
.carousel-caption h5{
    color: red;
}
.carousel-fixed{
    padding-bottom: 10%;
}